<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLCHApple_GUI.Properties.Settings.QLCHAPPLEConnectionString" connectionString="Data Source=DESKTOP-K97AAEM;Initial Catalog=QLCHAPPLE;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="QLCHApple_GUI.Properties.Settings.QLCHAPPLEConnectionString1" connectionString="Data Source=DESKTOP-IERSPK4\SQLEXPRESS;Initial Catalog=QLCHAPPLE;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="QLCHApple_GUI.Properties.Settings.QLCHAPPLE1ConnectionString" connectionString="Data Source=DESKTOP-6F2O958\SQLEXPRESS;Initial Catalog=QLCHAPPLE1;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
